APP_NAME=NewBackend
APP_VERSION=0.1
ENVIRONMENT=development
FRONTEND_URL=http://localhost:3000

SECRET_KEY=your-secret-key-here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

DATABASE_URL=postgresql+asyncpg://postgres1:password1@localhost:5432/NEW_DB

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

SENDGRID_API_KEY=
RESEND_API_KEY=
